<form [formGroup]="loginForm" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nom</label>
            <input
              type="text"
              formControlName="nom"
              class="form-control"
              id="inputEmail4"
              placeholder="nom"
              required
            />
            
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">age</label>
            <input
              type="number"
              formControlName="age"
              class="form-control"
              id="inputPassword4"
              placeholder="age"
            />
            
          </div>
        </div>
        
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputAddress2">Description</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            formControlName="description"
            placeholder="description"
          />
    
        </div>
        
      </div>
      
        <button type="submit" (click)="onPost()" class="btn btn-primary">
          Send
        </button>
      </form>